* {
    border: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 800px;
}


ul img {
    width: 100%;
    height: 100%;
    display: block;
}

ul.thumb {
    margin: 0 auto;
    padding: 0;
    float: left;
}


ul.thumb li {
     width: 100px;
     height: 100px;
    display: block;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.img-box {
    float: left;
    width: 500px;
    height: 500px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}